.caja1{
    margin: 2%;
    border: 10px solid orange;
    padding: 10px 10px 10px 20px;
    background-color: palegoldenrod;
    width: 40%;
    text-align: justify;
}
.resaltado{
    color: blue;
    background-color: white;
    font-weight: bold;
}
.caja2{
    margin: 2%;
    border: 3px dashed black;
    border-radius:  10px 50px 10px 50px;
    box-shadow: 10px 10px 10px gray;
    padding: 10px 10px 20px 20px;
    background-color: palegoldenrod;
    width: 40%;
    text-align: justify;
}
.caja3{
    border: black 12px solid;
    border-image-source: url("img/bola-100.png");
    text-align: justify;
    width: 40%;
    margin: 2%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.caja4{
    border: silver 27px solid;
    border-image-source: url("img/pastilla.png");
    border-image-slice: 27;
    padding: 1%;
    width: 40%;
    margin: 2%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.caja5{
    border: silver 20px solid;
    border-width: 50px 80px 20px 80px;
    border-image-source: url("img/ventana.png");
    border-image-slice: 50 80 20 80;
    width: 40%;
    margin: 2%;
    position: absolute;
    top: 0px;
    right: 0px;
}
.caja6{
    border: silver 40px solid;
    border-image-source: url("img/hormigas.png");
    border-image-slice: 70;
    border-image-repeat: stretch;
    width: 40%;
    margin: 2%;
    position: absolute;
    top: 0px;
    right: 0px;
}
pre{
    border: 1.5px solid blue;
    background-color: white;
}
#azul{
    color: blue;
    font-weight: bold;
}