@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
/* 'Syne Tactile', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');
/* 'Turret Road', cursive; */
p{
    text-indent: 2rem;
    margin-left: 10%;
    margin-right: 10%;    
}
h1{
    font-family:'Turret Road', cursive; ;
    text-align: center;
    font-weight: bold;
    font-size: 250%;
}
h2{
    font-family:'Syne Tactile', cursive; ;
    clear: both;
    background-color: gray;
    font-weight: bold;
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: 200%;
}
body{
    background-color: lightgray;
    font-family: sans-serif;
    margin: 10px;
}
img{
    float: left;
    margin-right: 10px;
}
b{
    background-color: white;
}
i{
    color: red;
}